@import "./variables.scss";

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Raleway", "Arial", sans-serif;
  color: $text;
  vertical-align: baseline;
}

a {
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $text;
}

.line {
  width: 100px;
  height: 3px;
  margin: 32px auto;
  background-color: $accent;
}
