@import "./variables.scss";

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Raleway", "Arial", sans-serif;
  color: $text;
  vertical-align: baseline;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $text;
}

.line {
  width: 100px;
  height: 3px;
  margin: 32px auto;
  background-color: $accent;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 560;
  padding: 50px 0 80px;
  text-align: left;

  &-item {
    position: relative;
    padding-left: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 17px;
      height: 17px;
      transform: translateY(-50%);
      background: url("/src/assets/img/heart.svg") no-repeat 50% 50%;
    }
  }
}

.instructions {
  width: 516px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: $textMuted;
}
